<Div>
    <Ul>
        
        <li>
            <div class="breakfast-list">
             <img src="./../../../assets/Poha.jpg" alt="" style="width: 200px; height: 200px;">
             <div>
                <Label>
                    <h3>Poha :</h3>
                 </Label>
                </div>
            </div>
        </li>
<br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Upma.jpg" alt="" style="width: 200px; height: 200px;">
                <Label>Upma</Label>
            </div>
        </li>

        <br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Dosa.webp" alt="" style="width: 200px; height: 200px;">
                <Label>Dosa</Label>
            </div>
        </li>

        <br>

        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Masala Pav.jpeg" alt="" style="width: 200px; height: 200px;">
                <Label>Masala Pav</Label>
            </div>
        </li>

        <br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Masala Oats.webp" alt="" style="width: 200px; height: 200px;">
                <Label>Masala Oats</Label>
            </div>
        </li>


</Ul>


</Div>
