<!-- <div >
    <ul class="listcontainer">
        
        <li>
            <div class="breakfast-list">
             <img src="./../../../assets/Poha.jpg" alt="" style="width: 200px; height: 200px;">
             <Label>Poha</Label>
                
            </div>
        </li>
<br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Upma.jpg" alt="" style="width: 200px; height: 200px;">
                <Label>Upma</Label>
            </div>
        </li>

        <br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Dosa.webp" alt="" style="width: 200px; height: 200px;">
                <Label>Dosa</Label>
            </div>
        </li>

        <br>

        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Masala Pav.jpeg" alt="" style="width: 200px; height: 200px;">
                <Label>Masala Pav</Label>
            </div>
        </li>

        <br>
        <li>
            <div class="breakfast-list">
                <img src="./../../../assets/Masala Oats.webp" alt="" style="width: 200px; height: 200px;">
                <Label>Masala Oats</Label>
            </div>
        </li>
        <br>
      


</ul>
</div> 
 -->



<div class="row">


    <div class="box">
        <img src="././../../../assets/Poha.jpg" alt="" style="width:300px;height:300px;">
       <label for="">Poha</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Dosa.webp" alt="" style="width:300px;height:300px;">
       <label for="">Dosa</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Masala Oats.webp" alt="" style="width:300px;height:300px;">
       <label for="">Masala Oats</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Masala Pav.jpeg" alt="" style="width:300px;height:300px;">
       <label for="">Masala Pav</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Upma.jpg" alt="" style="width:300px;height:300px;">
       <label for="">Upma</label>
    </div>
   
</div>

<div class="row">


    <div class="box">
        <img src="././../../../assets/Poha.jpg" alt="" style="width:300px;height:300px;">
       <label for="">Poha</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Dosa.webp" alt="" style="width:300px;height:300px;">
       <label for="">Dosa</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Poha.jpg" alt="" style="width:300px;height:300px;">
       <label for="">Poha</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Dosa.webp" alt="" style="width:300px;height:300px;">
       <label for="">Dosa</label>
    </div>
    <div class="box">
        <img src="././../../../assets/Dosa.webp" alt="" style="width:300px;height:300px;">
       <label for="">Dosa</label>
    </div>


</div>



