div{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


.breakfast{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

.lunch{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.snaks{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.dinner{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}