<div class="row">


<div class="box">
    <img src="././../../../assets/breakfast m.jpg" alt="" style="width:300px;height:300px;">
   <label for="">Breakfast</label>
</div>
<div class="box">
        <img src="././../../../assets/lunch m.jpg" alt="" style="width:300px;height:300px;">
   <label for="">Lunch</label>
</div>
<div class="box">    
   <img src="././../../../assets/snaks m.jpg" alt="" style="width:300px;height:300px;">
   <label for="">Snacks</label>
</div>
<div class="box">
    <img src="././../../../assets/dinner m.jpg" alt="" style="width:300px;height:300px;">
   <label for="">Dinner</label>
</div>

</div>


<div class="row-2">
<div class="round-box">
   <img src="./../../../assets/Quick Recipes.webp" alt="" style="width: 200px;height: 200px;" >
   <label for="">Quick Recipes</label>
</div>

<div class="round-box">
   <img src="./../../../assets/dinner m.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Party</label>
</div>

<div class="round-box">
   <img src="./../../../assets/Healthy r.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Healthy</label>
</div>

<div class="round-box">
   <img src="./../../../assets/veg recipes.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Veg</label>
</div>

<div class="round-box">
   <img src="./../../../assets/non veg.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Non-Veg</label>
</div>

<div class="round-box">
   <img src="./../../../assets/Quick Recipes.webp" alt="" style="width: 200px;height: 200px;" >
   <label for="">Quick Recipes</label>
</div>

<div class="round-box">
   <img src="./../../../assets/dinner m.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Dinner</label>
</div>




</div>


<!-- <div class="row-3">
   <div class="round-box-2">
      <img src="./../../../assets/Quick Recipes.webp" alt="" style="width: 200px;height: 200px;" >
      <label for="">Meal Preps</label>
   </div>
   
<div class="round-box-2">
   <img src="./../../../assets/dinner m.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Soups</label>
</div>

<div class="round-box-2">
   <img src="./../../../assets/Healthy r.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Diet Recipes</label>
</div>

<div class="round-box-2">
   <img src="./../../../assets/veg recipes.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Chinese</label>
</div>

<div class="round-box-2">
   <img src="./../../../assets/non veg.jpg" alt="" style="width: 200px;height: 200px;">
   <label for="">Buffets</label>
</div>

</div> -->